{% extends "views/templates/page.njk" %}
{% from "components/back-link/macro.njk" import backLink %}
{% from "components/error-summary/macro.njk" import errorSummary %}

{% block beforeContent %}
{% if reverse %}
{{ backLink(reverse) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
{% if errors %}
{{ errorSummary(errors) }}
{% endif %}

      <form method="post" action="{{ action }}">
{{ zashiki(params) }}
{{ button({
  text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}
