  {% if field.enum %}
    {{ select(field) }}
  {% else %}
    {% if field.anyOf %}
      {{ checkboxes(field) }}
    {% else %}
      {% if field.oneOf %}
        {{ radios(field) }}
      {% else %}
        {{ input(field) }}
      {% endif %}
    {% endif %}
  {% endif %}
