  {% if field.enum %}
    {{ select(field) }}
  {% else %}
    {% if field.anyOf %}

    {% else %}
      {% if field.oneOf %}

      {% else %}
        {{ input(field) }}
      {% endif %}
    {% endif %}
  {% endif %}
