  {% if field.component === 'checkboxes' %}

    {% if field.enum %}
      {{ checkboxes(field.enum) }}
    {% else %}
      {% if field.anyOf %}
        {{ checkboxes(field.anyOf) }}
      {% else %}
        {% if field.oneOf %}
          {{ checkboxes(field.oneOf) }}
        {% else %}
          {{ input(field.field) }}
        {% endif %}
      {% endif %}
    {% endif %}

  {% elif field.component === 'radios' %}

    {% if field.enum %}
      {{ radios(field.enum) }}
    {% else %}
      {% if field.anyOf %}
        {{ radios(field.anyOf) }}
      {% else %}
        {% if field.oneOf %}
          {{ radios(field.oneOf) }}
        {% else %}
          {{ input(field.field) }}
        {% endif %}
      {% endif %}
    {% endif %}

  {% elif field.component === 'select' %}

    {% if field.enum %}
      {{ select(field.enum) }}
    {% else %}
      {% if field.anyOf %}
        {{ select(field.anyOf) }}
      {% else %}
        {% if field.oneOf %}
          {{ select(field.oneOf) }}
        {% else %}
          {{ input(field.field) }}
        {% endif %}
      {% endif %}
    {% endif %}

  {% else %}

    {% if field.type === 'string' %}
{%- include "./string.njk" -%}

    {% elif field.type === 'number' %}
{%- include "./number.njk" -%}

    {% elif field.type === 'array' %}
{{ zashiki(field) }}

    {% elif field.type === 'object' %}
{{ zashiki(field) }}

    {% elif field.type === 'boolean' %}
{%- include "./boolean.njk" -%}

    {% elif field.type === 'null' %}
{%- include "./null.njk" -%}
    {% endif %}

  {% endif %}
