  {% call fieldset (params.group) %}
    {% for field in params.fields %}
      {% if field.component %}

      {% elif field.type === 'string' %}
{%- include "./string.njk" -%}

      {% elif field.type === 'number' %}
{%- include "./number.njk" -%}

      {% elif field.type === 'object' %}
{{ zashiki(field) }}

      {% elif field.type === 'array' %}
{{ zashiki(field) }}

      {% elif field.type === 'boolean' %}
{%- include "./boolean.njk" -%}

      {% elif field.type === 'null' %}
{%- include "./null.njk" -%}

      {% endif %}
    {% endfor %}
  {% endcall %}
