  {% if field.enum %}
{{ select(field.enum) }}
  {% else %}
    {% if field.anyOf %}
{{ radios(field.anyOf) }}
    {% else %}
      {% if field.oneOf %}
{{ radios(field.oneOf) }}
      {% else %}
{{ input(field.field) }}
      {% endif %}
    {% endif %}
  {% endif %}
